/*botões */

.btn-amarelo {
    --color: #FFD800;
    position: relative;
    overflow: hidden;
    border: 2px solid var(--color);
    transition: color 0.5s;
    z-index: 1;
    color: var(--color);

}

.btn-amarelo:before {
    content: "";
    position: absolute;
    z-index: -1;
    background: var(--color);
    height: 150px;
    width: 130%;
    border-radius: 50%;
}

.btn-amarelo:hover {
    color: #0E1513;
}

.btn-amarelo:before {
    top: 100%;
    left: 100%;
    transition: all 0.7s;
}

.btn-amarelo:hover:before {
    top: -30px;
    left: -30px;
}