/* fonte */
@font-face {
    font-family: 'Urbanist Light';
    src: url('../font/Urbanist-Light.ttf');
}

@font-face {
    font-family: 'Urbanist Regular';
    src: url('../font/Urbanist-Regular.ttf');
}

@font-face {
    font-family: 'Urbanist Medium';
    src: url('../font/Urbanist-Medium.ttf');
}

@font-face {
    font-family: 'Urbanist SemiBold';
    src: url('../font/Urbanist-SemiBold.ttf');
}

@font-face {
    font-family: 'Urbanist Bold';
    src: url('../font/Urbanist-Bold.ttf');
}

/* estilização geral do corpo do site */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

main {
    width: 100%;
    justify-items: center;
}

a {
    text-decoration: none;
}

/* banner */
.section-ban {
    width: 100%;
    height: 100vh;
    background-color: #262D20;
    justify-items: center
}

.banner-container {
    display: flex;
    height: 90vh;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}

.banner-p1 {
    font-family: 'Urbanist Medium';
    color: #B9B9B9;
    margin: 0;
    font-size: 30px;
}

.title-box {
    font-family: 'Urbanist SemiBold';
    font-size: 50px;
    margin-top: 0;
    color: #FFD800
}

.text-box{
    font-family: 'Urbanist Regular';
    font-size: 30px;
    color: #E1E1E1;
}

.box-banner{
    width: 40%;
}

.box-banner2 {
    align-content: center;
    width: fit-content;
}

.banner-img {
    height: 53vh;
}

/* estilização geral das seções de cada projeto */
.container-projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(90deg, rgba(50, 62, 42, 1) 0%, rgba(16, 24, 21, 1) 100%);
    padding: 7vh 0 7vh 0;
}

.projeto {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 65%;
    margin: 7vh 0 7vh 0;
}

/* carrossel de imagens */
.carousel {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    flex-direction: column;
    align-items: center;

}

.carousel-container {
    width: 100%;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-container1{
    width: 85%;
    overflow: hidden;
    border: 1px solid #FF99C9;
}

.img-proj {
    width: 100%;
    height: auto;
    border: 1px solid #FF99C9;
}

.carousel-btn {
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    transition: transform 0.1s;
    background-color: transparent;
    color: #FF99C9;
    border: none;
    cursor: pointer;
}

.carousel-btn:active{
    transform: translateX(-50%) translateY(-50%) scale(0.9);
}

.carousel-btn.prev {
    left: 4%;
}

.carousel-btn.next {
    right: 0%;
}

.data-proj, .name-proj, .desc-proj, .colab{
    color: #FFD800;
}

.desc-proj{
    font-family: 'Urbanist Regular';
    font-size: 20px;
    text-align: justify;
    width: 85%;
    margin: 35px 0 0 0;
}

.colab{
    font-family: 'Urbanist Regular';
    font-size: 20px;
    text-align: justify;
    width: 85%;
    margin-top: 0;
}

.colab-git{
    color: #FFF7C8;
}

.data-proj{
    font-family: 'Urbanist Light';
}

.name-proj{
    font-family: 'Urbanist Semibold';
    font-size: 35px;
}

.btn-amarelo {
    font-family: 'Urbanist SemiBold';
    font-size: 17px;
    height: 5vh;
    width: 9vw;
    color: #FFD800;
    background-color: transparent;
    cursor: pointer;
    border-radius: 8px;
}

.btns-proj{
    margin-top: 5vh;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
